
<canvas #canvas></canvas>
<label class="container" id = "0" [ngStyle]="{'left.px': arr[0].x , 'top.px' : arr[0].y}">1
  <input type="radio" checked="checked" name="radio" (click) = "ledClick($event)" >
  <span class="checkmark"></span>
</label>
<label class="container" id = "1" [ngStyle]="{'left.px': arr[1].x , 'top.px' : arr[1].y}">2
  <input type="radio" name="radio" (click) = "ledClick($event)" >
  <span class="checkmark"></span>
</label>
<label class="container" id = "2" [ngStyle]="{'left.px': arr[2].x , 'top.px' : arr[2].y}">3
  <input type="radio" name="radio" (click) = "ledClick($event)">
  <span class="checkmark"></span>
</label>
<label class="container" id = "3" [ngStyle]="{'left.px': arr[3].x , 'top.px' : arr[3].y}">4
  <input type="radio" name="radio" (click) = "ledClick($event)">
  <span class="checkmark"></span>
</label>
<label class="container" id = "4" [ngStyle]="{'left.px': arr[4].x , 'top.px' : arr[4].y}">5
  <input type="radio" name="radio" (click) = "ledClick($event)">
  <span class="checkmark"></span>
</label>
<label class="container" id = "5" [ngStyle]="{'left.px': arr[5].x , 'top.px' : arr[5].y}">6
  <input type="radio" name="radio" (click) = "ledClick($event)">
  <span class="checkmark"></span>
</label>
